<h1>Photo Details</h1>

<img src="<%= @photo_source %>" width="480">

<p><%= @photo_caption %></p>

<a href="/photos">Back</a>
<a href="/photos/edit_photo/:id">Edit</a>
<a href="/photos/delete_photo/:id %>">Delete</a>
